<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC46GYrUXpqq57Nw93M_VK2rBAD3byy-I</string>
	<key>GCM_SENDER_ID</key>
	<string>893286377789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aditya.janyukti</string>
	<key>PROJECT_ID</key>
	<string>janyukti-1cbba</string>
	<key>STORAGE_BUCKET</key>
	<string>janyukti-1cbba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893286377789:ios:275a842c598960dcad3d54</string>
</dict>
</plist>